[submodule "blacs"]
	path = blacs
	url = https://github.com/shafinulh/blacs.git
	branch = master
[submodule "labscript-devices"]
	path = labscript-devices
	url = https://github.com/shafinulh/labscript-devices.git
	branch = master
[submodule "labscript-utils"]
	path = labscript-utils
	url = https://github.com/shafinulh/labscript-utils.git
	branch = master